:host {
  display: flex;
  flex: 1;
}

md-sidenav {
  width: 320px;
}

md-sidenav span {
  font-size: 0.8em;
  font-weight: 400;
  color: #bfbfbf;
}
.content {
  padding: 12px;
}

/deep/ md-icon.avatar {
  overflow: hidden;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin: 12px;
}

.fab-bottom-right {
  position: fixed;
  right: 16px;
  bottom: 16px;
}

/deep/ .mat-list-item-content {
   padding: 30px 55px!important;  
  /*height: auto !important;*/
}

p span  {
  font-size: 1.2em;
  color: #4caf50;
  font-weight: 100;
}

.default {
  color: #b7b7b7!important;
}
 .danger {
  color: #ff0000!important;
}

.warning {
  color: #e6bf20!important;
}

.dark-theme .mat-card {
    background: #222324;
    color: white;
}

.dark-theme .mat-sidenav {
    background-color: #222324;
    color: white;
}

.dark-theme .mat-sidenav-container {
    background-color: #1e1e1e;
    color: white;
}

.mat-tab-label[_ngcontent-c5] {
    line-height: 80px!important;
    height: 80px!important;
    padding: 0 12px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: .6;
    min-width: 160px;
    text-align: center;
    position: relative;
    font-size: 1.2em;
    font-weight: 200;
}

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
  background: #fff url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 12px center;
  border: solid 1px #fff;
	padding: 9px 10px 9px 32px;
	width: 55px;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: -60%;
	background-color: #fff;
	border-color: #fff;
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

#expanding-search {
	width: 23px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#expanding-search:hover {
	background-color: #03a9f4;
}
#expanding-search:focus {
	width: 75.5%;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}

.mat-focused {
	width: 76%;
	color: #fff;
	cursor: auto;
  transition: all .5s;
}