<div fxLayout="column" fxFlex [class.dark-theme]="isDarkTheme">

  <md-toolbar color="primary">
    <span>Resque Dashboard</span>


          <md-autocomplete
          ng-disabled="ctrl.isDisabled"
          md-no-cache="ctrl.noCache"
          md-selected-item="ctrl.selectedItem"
          md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
          md-search-text="ctrl.searchText"
          md-selected-item-change="ctrl.selectedItemChange(item)"
          md-items="item in ctrl.querySearch(ctrl.searchText)"
          md-item-text="item.display"
          md-min-length="0"
          placeholder="What is your favorite US state?">

          <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i"></span>


          No states matching were found.
          <a ng-click="ctrl.newState()">Create a new one!</a>

      </md-autocomplete>


    <!-- Filler that pushes the menu button to the end of the toolbar -->
    <span fxFlex></span>

    <button md-icon-button [mdMenuTriggerFor]="themeMenu">
      <md-icon>more_vert</md-icon>
    </button>

  </md-toolbar>

  <md-sidenav-container fxFlex>
    <md-sidenav mode="side" opened>
      <md-tab-group (selectChange)="selectTab($event)">
        <md-tab label="Queues" >
          <md-nav-list>         
            <md-list-item *ngFor="let item of queues" (click)="selectedItem = item; switchDetailsView = true">
              <span>{{item.title}}</span>                     
            </md-list-item>
          </md-nav-list>
        </md-tab>
        <md-tab label="Workers">
          <md-nav-list>
            <md-list-item *ngFor="let worker of workers; let i = index" (click)="selectedWorker = worker;  switchDetailsView = false">
              <span>Worker - PID {{worker.pid}}</span>                     
            </md-list-item>
          </md-nav-list>
        </md-tab>
        <md-tab label="Keys">        
          <!--<md-tab-label>
            <md-icon>vpn_key</md-icon>
          </md-tab-label>-->
          <md-nav-list>
            <md-list-item *ngFor="let key of keys" (click)="selectedKey = keys;  viewKeys = true">
              <span>{{key.key}}</span>                                  
            </md-list-item>
          </md-nav-list>
        </md-tab>
      </md-tab-group>
    </md-sidenav>
    <div class="content" fxLayout="row" fxLayout.sm="column" fxLayoutGap="16px">

      <md-card fxFlex="60" *ngIf="switchDetailsView">
        <h3>{{selectedItem.title}}</h3>
        <md-divider flex></md-divider>
        <p>Queue Name <br><span>{{selectedItem.queue}}</span></p>
        <p>Size <br><span class="default">{{selectedItem.size}}</span></p>            
      </md-card>

      <md-card fxFlex="60" *ngIf="!switchDetailsView">
        <h3>Worker PID - {{selectedWorker.pid}} ({{selectedWorker.status.processing.state}})</h3> 
        <md-divider flex></md-divider>             
        <p>Host <br><span>{{selectedWorker.host}}</span></p>
        <p>PID <br><span>{{selectedWorker.pid}}</span></p>
        <p>Queues <br><span>{{selectedWorker.queues}}</span></p>
        <p>To S <br><span>{{selectedWorker.to_s}}</span></p>    
        <h2>Status</h2>
        <md-divider flex></md-divider>                
        <p>Failed<br><span class="danger">{{selectedWorker.status.failed}}</span></p>  
        <p>Heartbeat<br><span>{{selectedWorker.status.heartbeat | date:'medium'}}</span></p>
        <p>Processed<br><span>{{selectedWorker.status.processed}}</span></p>          
        <p>Started<br><span>{{selectedWorker.status.started | date:'medium'}}</span></p>
      </md-card>

      <md-card fxFlex="60" *ngIf="viewKeys">
        <h3>{{selectedKey.key}}</h3>
        <md-divider flex></md-divider>
        <p>Queue Name <br><span>{{selectedKey.size}}</span></p>
        <p>Size <br><span class="default">{{selectedKey.type}}</span></p>            
      </md-card>

      <md-card fxFlex fxLayout="column" fxLayoutGap="14px">
        <h3>Resque Stats</h3>
          <md-divider flex></md-divider>        
          <p>Pending<br><span class="warning">{{resqueObj.pending | number}}</span></p> 
          <p>Processed<br><span> {{resqueObj.processed | number}}</span></p> 
          <p>Queues<br><span> {{resqueObj.queues | number}}</span></p> 
          <p>Workers<br><span> {{resqueObj.workers | number}}</span></p> 
          <p>Working<br><span> {{resqueObj.working | number}}</span></p> 
          <p>Failed<br><span class="danger"> {{resqueObj.failed | number}}</span></p> 

      <md-divider flex></md-divider>
          <h3>Redis Stats</h3>
          <p>Redis Version <br><span>{{redis_version}}</span></p>
          <p>Mode <br><span>{{redis_mode}}</span></p>
          <p>OS <br><span>{{os}}</span></p>
          <p>Arch Bits <br><span>{{arch_bits}}</span></p>
          <p>Used Memory Human <br><span>{{used_memory_human}}</span></p>
          <p>Memory Peak Human <br><span>{{used_memory_peak_human}}</span></p>
          <p>Memory Allocator <br><span>{{mem_allocator}}</span></p>
          <p>Used CPU Sys <br><span>{{used_cpu_sys}}</span></p>
          <p>Used CPU User <br><span>{{used_cpu_user}}</span></p>
          <p>Used CPU Sys Children <br><span>{{used_cpu_sys_children}}</span></p>      
          <p>Used CPU User Children <br><span>{{used_cpu_user_children}}</span></p>            
      </md-card>



     
      
    </div>
  </md-sidenav-container>

  <md-menu #themeMenu x-position="before">
    <button md-menu-item (click)="isDarkTheme = !isDarkTheme">Toggle Theme</button>
  </md-menu>

  <!--<button md-fab (click)="openAdminDialog()" class="fab-bottom-right">
    <md-icon>add</md-icon>
  </button>-->

</div>
