@import "https://fonts.googleapis.com/css?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Roboto:400,300,100";

html, body {
  display: flex;
  flex-direction: column;

  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  height: 100%;
  font-weight: 100;
}
.dark-theme .mat-tab-header {
    height: 80px;
}

.mat-tab-label {
    line-height: 80px!important;
    height: 80px!important;
    padding: 0 12px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: .6;
    min-width: 160px;
    text-align: center;
    position: relative;
    font-size: 0.9em!important;
    font-weight: 200!important;
}

.mat-toolbar-row {
    padding-left: 30px;
}
.spacer-300 {
    margin: 150px 0;
}
.chart-container {
    display: block;
    width: 400px;
    height: 400px;
}
.bar-chart {
    display: inline-flex;
}