@import "https://fonts.googleapis.com/css?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Roboto:400,300,100";

html, body {
  display: flex;
  flex-direction: column;

  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  height: 100%;
  font-weight: 100;
}
.dark-theme .mat-tab-header {
    height: 80px;
}

.mat-tab-label[_ngcontent-c5] {
    line-height: 80px;
    height: 80px;
    padding: 0 12px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: .6;
    min-width: 160px;
    text-align: center;
    position: relative;
    font-size: 1.2em;
    font-weight: 200;
}